@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
   --light-text: white;
   --light-text-2: #e04242;
   --light-gray:lightgray;

   /* white */
   --white:#ffffff;
   --white-1:#f5f5f5;
   --white-2:#ebebeb;
   --white-3:#e0e0e0;
   --white-4:#d6d6d6;
   --white-5:#cccccc;

   --black:black;
 
   --bg-color-1:#0b520b;
   --bg-color-2:#333333e6;
   --bg-color-3:#becf21;
   --bg-color-4:#0b213b80;
   --bg-color-5:#0b520b;
 
    --color-1:#7290be;
    --color-2:#cecece;
    --color-3:#f5f5f5;
    --color-4:#333;
 
   --font-1: 'Caveat', cursive;
   --font-2:'Roboto', sans-serif;
   --font-3:'Special Elite', cursive;
 
   --ancient-1:#e9d8a6;
   --ancient-2:#ee9b00;
   --ancient-3:#94d2bd;
   --ancient-4:#0a9396;
   --ancient-4:#005f73;

   /* bluish */
   --neutral-0:#48cae4;
   --neutral-1:#00b4d8;
   --neutral-2:#0096c7;
   --neutral-3:#0077b6;
   --neutral-4:#023e8a;
   --neutral-5:#03045e;

    /* burlywood */
    --br-1:#ede0d4;
    --br-2:#e6ccb2;
    --br-3:#ddb892;
    --br-4:#b08968;
    --br-5:#7f5539;
    --br-6:#9c6644;

    /* red */
    --rd-1:#e85d08;
    --rd-2:#dc2f02;
    --rd-3:#d00000;
    --rd-4:#9d0208;
    --rd-5:#6a040f;
    --rd-6:#370617;

    /* green */
    --gr-1:#004b23;
    --gr-2:#006400;
    --gr-3:#007200;
    --gr-4:#008000;
    --gr-5:#38b000;
    --gr-6:#70e000;

    /* melon */
    --ml-1:#e8a598;
    --ml-2:#ffb5a7;
    --ml-3:#fec5bb;
    --ml-4:#fcd5ce;
    --ml-5:#fae1dd;
    --ml-6:#f8edeb;

    /* yellow */
    --yellow-1:#ffea00;
    --yellow-2:#ffdd00;
    --yellow-3:#ffd000;
    --yellow-4:#ffc300;
    --yellow-5:#ffb700;
    --yellow-6:#ffaa00;

}

/* base styles */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Poppins, sans-serif;
    margin: 0;
}


header {
  height:100px;
  background-color: #162639;
  color:#FFFFFF;
  text-align: center;
  padding-top:20px;
  font-size: 3em;
}
footer {
    height:100px;
    background-color: #ce672e;
    color:#FFFFFF;
    text-align: center;
    padding-top:40px;
    font-size: 3em;
}
section {
    min-height: 500px;
    font-size: 2em;
    padding:40px;
}

/* ### Card styling Area ###  */
.cardTop img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
}   
  
 .country{
    padding: 10px;
    margin: 10px;
    box-shadow: 0 3px 8px 7px #ffffff, 0 6px 20px 0 ;
    width: 20%;
    border-radius: 5px;
    background-color:#df9797;
    font-size: 20px;
} 

.country p,  .country h2 { 
    margin-left: 20px;
    padding:10px ;
    color: black;
}
  
.country h2{
    padding-top: 20px;
}
.countries{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 1rem ;
    margin: 0;
}

.cardTop{
    background-color:#df9797;
}
span{
    font-weight:bolder;
    margin-right: 0.5rem;
}

.lang, .border{
   font-size: 15px;
}

.country a{
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 1.5rem;
}

/* ####### Footer ###### */

footer {
    color: var(--color-3);
    font-size: 20px;
    padding: 2rem;
    text-align: center;
    bottom: 0;
    position:relative;
} 

.wrapper{
    position: absolute;
    width: 100%;
   
}

.footerWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
footer p{ 
    font-family: var(--font-2);
    font-size: 1.5rem;
    padding: 20px;
}

footer .icons i {
    margin: 20px ;
    color:var(--color-3);
    font-size: 40px;
}

footer .icons i:hover{
    color: var(--br-5);
    transition: 1s;
}


/*  */

.courses{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 2rem ;
    margin: 0;
}
.course{
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem ;
    margin: 0;
    box-shadow: 0 3px 8px 7px #171515, 0 6px 20px 0 ;
    width: 50%;
    border-radius: 5px;
    background-color:#44503b;
    font-size: 20px;
}